<section id="yujie">
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
<br>

      <p>你最喜欢的毕业歌曲？（一种植物，3个字）</p>
      <h2 style="color: red;">{{yj.info}}</h2>
      <div class="input-group input-group-lg">
         <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1" ng-model="yj.answer">
         <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="yj_verify()">Go!</button>
         </span>
      </div>
<br>
<br>
<br>

    </div>

    </div>
  </div>
</section>